
/Domain/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Repository/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/WebUI/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/WebUI/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Base/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Domain/obj/Debug/TempPE/Resources.GeneralLocalisations.Designer.cs.dll
/Domain/obj/Debug/TempPE/Resources.ModelLocalisations.Designer.cs.dll
/Domain/obj/Debug/TempPE/Resources.OriginLocalisations.Designer.cs.dll
/Domain/obj/Debug/TempPE/Resources.TypeLocalisations.Designer.cs.dll
/WebUI/obj/Debug/TempPE/App_GlobalResources.GeneralLocalisations.designer.cs.dll
/Domain/obj/Debug/TempPE/Resources.ProductLocalisations.Designer.cs.dll
/Domain/obj/Debug/TempPE/Resources.SizeLocalisations.Designer.cs.dll
/Base/bin/Debug/Base.dll
/Base/bin/Debug/Base.pdb
/Base/obj/Debug/Base.csproj.FileListAbsolute.txt
/Base/obj/Debug/Base.dll
/Base/obj/Debug/Base.pdb
/Domain/bin/Debug/Base.dll
/Domain/bin/Debug/Base.pdb
/Domain/bin/Debug/Domain.dll
/Domain/bin/Debug/Domain.pdb
/Domain/bin/Debug/Ninject.dll
/Domain/bin/Debug/Ninject.pdb
/Domain/bin/Debug/Ninject.xml
/Domain/bin/Debug/Repository.dll
/Domain/bin/Debug/Repository.pdb
/Domain/obj/Debug/Domain.Resources.GeneralLocalisations.resources
/Domain/obj/Debug/Domain.Resources.ModelLocalisations.resources
/Domain/obj/Debug/Domain.Resources.OriginLocalisations.resources
/Domain/obj/Debug/Domain.Resources.ProductLocalisations.resources
/Domain/obj/Debug/Domain.Resources.SizeLocalisations.resources
/Domain/obj/Debug/Domain.Resources.TypeLocalisations.resources
/Domain/obj/Debug/Domain.csproj.FileListAbsolute.txt
/Domain/obj/Debug/Domain.dll
/Domain/obj/Debug/Domain.pdb
/Domain/obj/Debug/GenerateResource.read.1.tlog
/Domain/obj/Debug/GenerateResource.write.1.tlog
/Domain/obj/Debug/ResolveAssemblyReference.cache
/Repository/bin/Debug/Repository.dll
/Repository/bin/Debug/Repository.dll.config
/Repository/bin/Debug/Repository.pdb
/Repository/obj/Debug/Repository.csproj.FileListAbsolute.txt
/Repository/obj/Debug/Repository.dll
/Repository/obj/Debug/Repository.pdb
/Repository/obj/Debug/edmxResourcesToEmbed/BatikStore.csdl
/Repository/obj/Debug/edmxResourcesToEmbed/BatikStore.msl
/Repository/obj/Debug/edmxResourcesToEmbed/BatikStore.ssdl
/WebUI/bin/AutoMapper.dll
/WebUI/bin/AutoMapper.xml
/WebUI/bin/Base.dll
/WebUI/bin/Base.pdb
/WebUI/bin/Domain.dll
/WebUI/bin/Domain.pdb
/WebUI/bin/EntityFramework.dll
/WebUI/bin/EntityFramework.xml
/WebUI/bin/Microsoft.Web.Infrastructure.dll
/WebUI/bin/Ninject.Web.Common.dll
/WebUI/bin/Ninject.Web.Common.pdb
/WebUI/bin/Ninject.Web.Common.xml
/WebUI/bin/Ninject.Web.Mvc.dll
/WebUI/bin/Ninject.Web.Mvc.pdb
/WebUI/bin/Ninject.Web.Mvc.xml
/WebUI/bin/Ninject.dll
/WebUI/bin/Ninject.pdb
/WebUI/bin/Ninject.xml
/WebUI/bin/Repository.dll
/WebUI/bin/Repository.pdb
/WebUI/bin/WebActivator.dll
/WebUI/bin/WebUI.dll
/WebUI/bin/WebUI.pdb
/WebUI/obj/Debug/ResolveAssemblyReference.cache
/WebUI/obj/Debug/WebUI.csproj.FileListAbsolute.txt
/WebUI/obj/Debug/WebUI.dll
/WebUI/obj/Debug/WebUI.pdb
/Repository/bin/Debug/Base.dll
/Repository/bin/Debug/Base.pdb
/Repository/obj/Debug/ResolveAssemblyReference.cache
/WebUI/WebUI.Publish.xml