
/Domain/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Repository/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/WebUI/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/WebUI/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Base/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Domain/obj/Debug/TempPE/Resources.GeneralLocalisations.Designer.cs.dll
/Domain/obj/Debug/TempPE/Resources.ModelLocalisations.Designer.cs.dll
/Domain/obj/Debug/TempPE/Resources.OriginLocalisations.Designer.cs.dll
/Domain/obj/Debug/TempPE/Resources.TypeLocalisations.Designer.cs.dll
/WebUI/obj/Debug/TempPE/App_GlobalResources.GeneralLocalisations.designer.cs.dll