@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="@Url.Content("~/Scripts/jquery.lightbox-0.5.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/jquery.lightbox-0.5.css")" rel="stylesheet" type="text/css" media="screen" />
<script type="text/javascript">
    $(document).ready(function () {
        $('.lightbox').lightBox({ fixedNavigation: true });
    });
</script>

<div style="text-align:right">
    <font style="font-size:20px;vertical-align:super">Zulkifli Fauzi | Phone: 081339621240 | PIN BB: 27BFEAEF | YM : </font> <a href="ymsgr:sendIM?zulkifli.fauzi"><img border=0 src="http://opi.yahoo.com/online?u=zulkifli.fauzi&amp;m=g&amp;t=2" /> </a>
</div>

<div class="banner"></div>
@*<div style="border-radius: 4px 4px 4px 4px;background-color:#1C0F14;padding:0.1em 1.5em 0.1em 1.5em">*@
<div style="padding:0.1em 1.5em 0.1em 1.5em">
    <h3>Batik Terpopuler</h3>
    <hr />
    <a class="lightbox" href="http://lovestory.progressive-farmer.com/wp-content/gallery/edited/P1000928.jpg"><img src="http://lovestory.progressive-farmer.com/wp-content/gallery/edited/thumbs/thumbs_P1000928.jpg" width="72" height="72" alt="" /></a>
    <a class="lightbox" href="http://lovestory.progressive-farmer.com/wp-content/gallery/edited/P1000929.jpg"><img src="http://lovestory.progressive-farmer.com/wp-content/gallery/edited/thumbs/thumbs_P1000929.jpg" width="72" height="72" alt="" /></a>
</div>
