@model WebUI.Models.ViewModelSize

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.ValidationSummary()

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
